body {
	font-family: helvetica, arial, sans-serif;
}
a {
	text-decoration: none;
	color: white;
}
.floatR {
    float: right;
    margin: 25px 45px;
}
.floatL {
	float: left;
}
.floatR-nonMargin {
	float: right;
}
.boton {
	border: solid 1px #696969;
	padding: 25px;
	text-decoration:none;
	color: #696969;
	letter-spacing: 3px;

}
nav {
	height: 60px;
	width: 100%;
	background-color: rgb(25,20,20)
}
nav a:hover {
	color: #708090;
}
.menu li {
	display: inline-block;
	color: #696969;
	letter-spacing: 3px;
	padding: 20px;
}
nav img {
	height: 30px;
	padding-right: 30px;
}
article {
	width: 100%;
	height: 100%;

}
.mensajes {
	display: inline-block;
	height: 100%;
	width: 400px;
	text-align: center;
	float: left;
	margin-left: 110px;
}
.inputContainer {
	margin: 50 auto;
	height: 40px;
	width: 400px;
}
button {
	border: solid 1px #696969;
	border-radius: 30px;
	background-color: white;
	padding: 10px;
	text-decoration:none;
	color: #696969;
	letter-spacing: 3px;
	margin: 0 auto;
}
input {
 	padding: 10px;
 	width: 100px;
 	height: 20px;
 	border: solid 1px black;
 	border-radius: 30px;
 	border-bottom: solid 2px #c9c9c9;
 }
 .input {

	width: 200px;

 }
#contactPanel{
	margin: 50 auto;
	height: 700px;
	text-align: center;
}
.contact h5 {
	font-size: 15px;
	font-style: bold;
	color: #800000;
}
.contact h4 {
	font-size: 16px;
	color: #708090;
	font-style: none;
}
.contact p {
	font-size: 15px;
	color: #708090;
	max-width: 100px;
}
.contact img {
	display: inline;
	border-radius: 100px;
	height: 100px;
	float: left;
}





