<!DOCTYPE html>
<html>
<head>
  <title>Sobrerailes</title>
  <%= stylesheet_link_tag    'home', media: 'all' %>
  <%= javascript_include_tag 'application', :defer => "defer" %>
  <%= csrf_meta_tags %>
</head>
<body onload="initialize()">

<%= yield %>

</body>
</html>
