body {
    background-image: url('city.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

/*body > * {
  display: block;
  float: left;
}*/

#map_canvas {
    width: 70%;
    height: 700px;
    margin: 40px auto;
}

aside {
  width: 20%;
  height: 512px;
  background-color: #fff;
}
