body {
	font-family: helvetica, arial, sans-serif;
}
a {
	text-decoration: none;
	color: white;
}
button {
	height: 55px;
	width: 200px;
	border-radius: 5px;
	border-style: none;
	background-color: rgb(56, 91, 218);
	padding: 15px;
	text-decoration:none;
	font-size: 12px;
	color: white;
	letter-spacing: 3px;
	margin-right: 5px;

}
.floatR {
  float: right;
}
.floatL {
	float: left;
}
/* --------------- HEADER -----------------------*/
.landing {
	width: 100%;
	height: 900px;
	background: url('/assets/city.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.landing h1 {
	font-family: Arial Black, Gadget, sans-serif;
	font-size: 90px;
	color: white;
	letter-spacing: 15px;
	line-height: 80px;
	padding-top: 220px;
}
.landing p {
	margin: 40px auto;
	width: 600px;
	font-family: TIMES;
	font-size: 18px;
	font-style: italic;
	color: #5A5959;
}
.landing a:hover {
	color: white;
	border: 1px solid white;
}
.button_SignIn {
	border: solid 1px #696969;
	padding: 25px;
	text-decoration:none;
	color: #696969;
	letter-spacing: 3px;
	margin: 25px 45px;
}
.arrow_button {
	margin-top: 270px;
	height: 100px;
	border-bottom-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
}
nav {
	height: 100px;
	width: 100%;
	background-color: brown;
}
nav a:hover {
	color: #708090;
}
nav ul {
	margin-left: 180px;
}
li {
	display: inline-block;
	letter-spacing: 3px;
	padding: 20px;
}
nav img {
	height: 30px;
	padding-right: 30px;
	background-color: coral;
}
nav section {
	margin-right: 200px;
}

/* ---------------- ARTICLE ------------------ */

.section_style {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

article:nth-child(odd){
	/*background-color: coral;*/
	background: url('/assets/backpacker-road.jpg');
	background-position: 50% 50%;
}
article:nth-child(even){
	/*background-color: dodgerblue;*/
	background: url('/assets/beach-bikes.jpg');
	height: 900px;
}

/* ---------------- MAP SECTION -------------- */

.section_style .text_aside {
	font-family: 'Muli', sans-serif;
	font-size: 50px;
	color: rgb(56, 91, 218);
	width: 600px;
	text-align: left;
}

.section_style .button_white {
	background-color: rgba(0,0,0, 0);
	border: solid 1px rgb(56, 91, 218);
	color: rgb(56, 91, 218);
}
.section_style a {
	color: rgb(56, 91, 218)
}

.map_style {
	width: 550px;
	height: 550px;
	margin: 170px 10px;
	border-radius: 30px;
}

/* ------- MESSAGE SECTION ------------- */

.inputContainer {
	height: 150px;
	width: 600px;
	padding: 15px;
	margin-bottom: 15px;
}
.inputContainer input {
	margin: 5px;
	border-radius: 6px;
	border-style: none;
}
.inputContainer input:first-child {
	width: 186px;
	height: 30px;
	float: left;
}
.inputContainer input:last-child {
	width: 550px;
	height: 70px;
	float: left;
}

.inputContainer button {
	margin: 5px;
	width: 70px;
	height: 30px;
	padding: 5px;
	background-color: white;
	color: rgb(56, 91, 218);
}
::-webkit-input-placeholder { /* WebKit browsers */
   color: rgb(56, 91, 218);
   text-align: start
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(56, 91, 218);
   text-align: start
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgb(56, 91, 218);
   text-align: start
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgb(56, 91, 218);
   text-align: start
}

/* --- MESSAGES -------------- */

.contactPanel{
	width: 600px;
	height: 600px;
	overflow: scroll;
	border-radius: 10px;
}
.contactPanel section:nth-child(even) {
	background-color: white;
}
.contactPanel section:nth-child(odd) {
	background-color: rgb(245, 249, 250);
}
.contactPanel section:first-child {
	background-color: rgb(56, 91, 218);
}
.contact {
	width: 600px;
	height: 150px;
	display: block;
	text-align: left;
	font-family: 'Muli', sans-serif;
	color: rgb(56, 91, 218);
}
.textContact{
	width: 400px;
	margin-right: 10px;
}
.contact img {
	border-radius: 100px;
	height: 100px;
	margin-left: 20px;
}
.contact h4 {
	text-align: left;
	font-size: 25px;
	font-style: none;
	margin-bottom: 10px;
}
.contact h5 {
	padding-bottom: 20px;
	font-family: helvetica;
	text-align: left;
	font-size: 16px;
	font-style: bold;
}
.contact p {
	text-align: left;
	line-height: 15px;
	font-size: 15px;
}
.text_aside2{
	font-family: 'Muli', sans-serif;
	font-size: 50px;
	color: rgb(56, 91, 218);
	width: 600px;
	text-align: right;
}
.button_white2 {
	border: solid 1px white;
	color: white;
	background-color: rgba(0,0,0,0);
}





