body {
	font-family: helvetica, arial, sans-serif;
	background-color: #C25151;
}
a {
	text-decoration: none;
	color: white;
}
button {
	height: 55px;
	width: 200px;
	border-radius: 5px;
	border-style: none;
	background-color: white;
	padding: 15px;
	text-decoration:none;
	font-size: 12px;
	color: #C25151;
	letter-spacing: 3px;

}
.landing {
	width: 100%;
	height: 850px;
	background: url('/assets/city.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.landing h1 {
	font-family: Arial Black, Gadget, sans-serif;
	font-size: 90px;
	color: white;
	letter-spacing: 15px;
	line-height: 80px;
	padding-top: 220px;
}
.landing p {
	margin: 40px auto;
	width: 600px;
	font-family: TIMES;
	font-size: 18px;
	font-style: italic;
	color: #5A5959;
}

.landing button {
	margin-top: 270px;
	height: 100px;
	border-bottom-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
}
.landing a:hover {
	color: white;
	border: 1px solid white;
}
.floatR {
    float: right;
    margin: 25px 45px;
}
.floatL {
	float: left;
}
.floatR-nonMargin {
	float: right;
}
.button_SignIn {
	border: solid 1px #696969;
	padding: 25px;
	text-decoration:none;
	color: #696969;
	letter-spacing: 3px;
}
nav {
	height: 100px;
	width: 100%;
	background-color: rgb(25,20,20);
}
nav a:hover {
	color: #708090;
}
nav ul {
	margin-left: 130px;
}
.menu li {
	display: inline-block;
	color: #696969;
	letter-spacing: 3px;
	padding: 20px;
}
nav img {
	height: 30px;
	padding-right: 30px;
}
.section1 {
	width: 1200px;
	height: 600px;
	margin: auto 160px;
}
.section1 .text_aside {
	font-family: 'Muli', sans-serif;
	font-size: 50px;
	color: white;
	width: 600px;
	text-align: left;
	margin-bottom: 20px;
}

.section1 .button_white {
	background-color: rgba(0,0,0, 0);
	border: solid 2px white;
	color: white;
}

#map_canvas {
	width: 550px;
	height: 550px;
}
/*article {
	display: inline-block;
	width: 100%;
	height: 700px;
	text-align: center;
}*/
.section2 {
	margin-top: 400px;
}
.inputContainer {
	margin: 50px auto;
	height: 40px;
	width: 600px;
}
.input {
	width: 186px;
	height: 30px;
	border-radius: 6px;
}

/*MESSAGES*/

.contactPanel{
	width: 600px;
	height: 600px;
	background-color: white;
	overflow: scroll;
	border-radius: 10px;
}
.contactPanel section:nth-child(even) {
	background-color: papayawhip;
}
.contactPanel section:nth-child(odd) {
	background-color: peachpuff;
}
.contact {
	width: 600px;
	height: 150px;
	display: block;
	text-align: left;
}
.textContact{
	width: 400px;
	margin-right: 10px;
}
.contact img {
	border-radius: 100px;
	height: 100px;
	margin-left: 20px;
}
.contact h4 {
	text-align: left;
	font-family: Goudy Old Style, serif;
	font-size: 25px;
	color: #708090;
	font-style: none;
	margin-bottom: 10px;
}
.contact h5 {
	padding-bottom: 20px;
	font-family: helvetica;
	text-align: left;
	font-size: 16px;
	font-style: bold;
	color: #800000;
}
.contact p {
	text-align: left;
	font-family: Goudy Old Style, serif;
	line-height: 15px;
	font-size: 15px;
	color: #708090;
}





